@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard {
  display: grid;
  grid-template-areas: "header" "aside" "main" "footer";
  grid-template-rows: 100px 100px 1fr 100px;
  font-family: roboto, sans-serif;
}

header {
  grid-area: header;
  background-color: #4f5779;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #d9dbe2;
}
header nav .brand h1 {
  font-size: 18px;
  font-weight: 600px;
}
header nav .brand figure {
  width: 50px;
}
header nav .brand figure img {
  border-radius: 55%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .icon i {
  font-size: 20px;
  color: #d9dbe2;
}
header nav .menu {
  display: none;
}

aside {
  grid-area: aside;
  background-color: #bec5e2;
  color: #495172;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 5% 10% 5px 10%;
}

select {
  color: rgb(75, 75, 75);
  height: 25px;
  margin: 0 10% 0 10%;
}

main {
  grid-area: main;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border: solid 1px rgb(199, 201, 202);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button {
  display: flex;
  width: 80px;
  height: 30px;
  color: #bec5e2;
  background-color: rgb(69, 69, 145);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

footer {
  grid-area: footer;
  background-color: #364274;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
footer img {
  border-radius: 60%;
  width: 30px;
  height: 30px;
}

@media (min-width: 576px) {
  .dashboard {
    grid-template-areas: "header header header header header" "aside main main main main" "footer footer footer footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 250px;
  }
  header nav .brand figure {
    width: 40px;
  }
  header nav .menu {
    display: flex;
    list-style: none;
    gap: 15px;
    color: #d1d1d6;
  }
  header nav .icon {
    display: none;
  }
  aside {
    height: 100%;
  }
}
@media (min-width: 992px) {
  .dashboard {
    grid-template-areas: "header aside aside aside aside" "header main main main main" "footer main main main main";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 280px;
  }
  .dashboard header {
    height: 100%;
  }
  .dashboard header nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }
  .dashboard header nav .brand figure {
    width: 40px;
  }
  .dashboard header nav .icon {
    display: none;
  }
  .dashboard header nav .menu {
    flex-direction: column;
    text-align: center;
    color: #d1d1d6;
  }
  aside {
    height: 100vh;
  }
  aside label {
    margin-top: 10px;
  }
  aside select {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */